services:
  app:
    build: .
    environment:
      - RUN_MODE=${RUN_MODE:-gradio}
      - 3DG_DUMP_SCREENSHOTS=True
    volumes:
      - .:/app
    network_mode: "host"
    develop:
      watch:
        - action: sync
          path: . ./src
          target: /app
          ignore:
            - .venv
            - .git
            - .idea
            - .vscode
            - .eggs
            - .cache
        - action: rebuild
          path: pyproject.toml uv.lock Dockerfile docker-compose.yaml
